USE [PRODUCTOS_DB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[GetAllProductos]
AS
BEGIN
    SELECT 
        ID_PRODUCTO, 
        NOMBRE, 
        DESCRIPCION, 
        PRECIO, 
        PRECIO_DESCUENTO, 
        RUTA_IMAGEN
    FROM PRODUCTOS
END